Repository shariq-sdks/docs1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

.gitlab-ci.yml:

variables:
  IMAGE: gcr.io/authlete/new-api-doc:$CI_COMMIT_SHA
  GO_GENERATOR_IMAGE: openapitools/openapi-generator-cli:v6.2.1

stages:
  - build
  - deploy
  - gen-go-client-master
  - gen-go-client-review
  - delete-go-client-review
  - build clients

build:
  stage: build
  only:
    - master
  script:
    - cd app
    - docker build . -t $IMAGE --build-arg NODE_ENV=production
    - docker push $IMAGE

deploy:
  stage: deploy
  only:
    - master
  script:
    - gcloud config set project authlete
    - gcloud container clusters get-credentials web --zone=us-central1-f
    - kubectl set image deployment/new-api-doc new-api-doc=$IMAGE
    - kubectl rollout status deployment/new-api-doc

.prepare_github_step:
  before_script:
    - mkdir ~/.ssh/
    - echo "${CI_KNOWN_HOSTS}" > ~/.ssh/known_hosts
    - echo "${SSH_PUSH_KEY}" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - git config user.email "ci@authlete.com"
    - git config user.name "CI"

.test_go_client: &test_go_client
  - export AUTHLETE_SO_KEY=${SHARED_CLOUD_SO_KEY}
  - export AUTHLETE_SO_SECRET=${SHARED_CLOUD_SO_SECRET}
  - go mod tidy
  - go test -v -cover ./...
  - export AUTHLETE_SO_KEY=${FAPI_DEV_SO_KEY}
  - export AUTHLETE_SO_SECRET=${FAPI_DEV_SO_SECRET}
  - export AUTHLETE_API_SERVER=${FAPI_DEV_API_SERVER}
  - go test -v -cover ./...

.checkout_and_generate_go_client: &checkout_and_generate_go_client
  - git clone git@github.com:authlete/openapi-for-go.git
  - rm -Rf openapi-for-go/*.go openapi-for-go/go.* openapi-for-go/docs openapi-for-go/api openapi-for-go/.openapi-generator*
  - docker run --rm -v ${PWD}:/local ${GO_GENERATOR_IMAGE} batch /local/go-client-codegen.yml
  - cd openapi-for-go
  - git config user.email "ci@authlete.com"
  - git config user.name "CI"

gen-go-client-master:
  stage: gen-go-client-master
  only:
    refs:
      - master
    changes:
      - specs/**/*
      - go-client-codegen.yml
  extends:
    - .prepare_github_step
  script:
    - *checkout_and_generate_go_client
    - *test_go_client
    - git checkout main || true
    - git add .
    - git commit -m "Authlete CI - ${CI_COMMIT_SHA}"
    - git push origin main:refs/heads/main

gen-go-client-review:
  stage: gen-go-client-review
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    on_stop: delete-go-client-review
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never
    - if: $CI_COMMIT_BRANCH
      changes:
        - specs/**/*
        - go-client-codegen.yml
  extends:
    - .prepare_github_step
  script:
    - *checkout_and_generate_go_client
    - *test_go_client
    - git checkout -b $CI_COMMIT_BRANCH || true
    - git add *.go go.* docs api .openapi-generator*
    - git commit -m "Authlete CI - ${CI_COMMIT_SHA}" || true
    - git push origin $CI_COMMIT_BRANCH:refs/heads/$CI_COMMIT_BRANCH --force

delete-go-client-review:
  when: manual
  stage: delete-go-client-review
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    action: stop
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never
    - if: $CI_COMMIT_BRANCH
      changes:
        - specs/**/*
        - go-client-codegen.yml
  extends:
    - .prepare_github_step
  script:
    - git clone git@github.com:authlete/openapi-for-go.git
    - cd openapi-for-go
    - git pull
    - git push origin +:refs/heads/$CI_COMMIT_REF_SLUG

build typescript client:
  stage: build clients
  trigger:
    include: .gitlab-ci/build-typescript-client.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - specs/**/*
        - typescript-client-codegen.yml

restructure the gitlab ci with common structure
  .gitlab-ci.yml
  .gitlab-ci/build-go-client.yml
  .gitlab-ci/build-shared.yml
  .gitlab-ci/build-typescript-client.yml
Due: none

move typescript to shared build codebase
  .gitlab-ci/build-shared.yml
  .gitlab-ci/build-typescript-client.yml
Due: none

set stop env job to run without a git repo
  .gitlab-ci/build-shared.yml
Due: none

fix code generated from master branch
  go-client-codegen.yml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review

Include the publishing of typescript
  .gitlab-ci/build-typescript-client.yml
Due: none

change typescript code gen to 2.2.38
  typescript-client-codegen.yml
Due: build typescript client

change go code gen to 2.3
  go-client-codegen.yml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review

update openapi docs from latest java client
  specs/dedicated/2.3.0/en/model/client.yaml
  specs/dedicated/2.3.0/en/model/response/token_response.yaml
  specs/dedicated/2.3.0/en/model/service.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

update openapi docs from latest java client
  specs/dedicated/2.3.0/en/model/client.yaml
  specs/dedicated/2.3.0/en/model/request/pushed_authorization_request.yaml
  specs/dedicated/2.3.0/en/model/service.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

update typescript gen to use 2.3.0 documentation
  typescript-client-codegen.yml
Due: build typescript client

creating the new objects introduced on java client
  specs/dedicated/2.3.0/en/model/request/federation_registration_request.yaml
  specs/dedicated/2.3.0/en/model/request/resource_server_signature_request.yaml
  specs/dedicated/2.3.0/en/model/request/service_configuration_request.yaml
  specs/dedicated/2.3.0/en/model/response/federation_registration_response.yaml
  specs/dedicated/2.3.0/en/model/response/resource_server_signature_response.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

update the existing objects with the recent updates on java client
  specs/dedicated/2.3.0/en/model/client.yaml
  specs/dedicated/2.3.0/en/model/request/introspection_request.yaml
  specs/dedicated/2.3.0/en/model/request/token_create_request.yaml
  specs/dedicated/2.3.0/en/model/request/token_request.yaml
  specs/dedicated/2.3.0/en/model/request/userinfo_issue_request.yaml
  specs/dedicated/2.3.0/en/model/request/userinfo_request.yaml
  specs/dedicated/2.3.0/en/model/response/authorization_response.yaml
  specs/dedicated/2.3.0/en/model/response/backchannel_authentication_complete_response.yaml
  specs/dedicated/2.3.0/en/model/response/backchannel_authentication_response.yaml
  specs/dedicated/2.3.0/en/model/response/device_authorization_response.yaml
  specs/dedicated/2.3.0/en/model/response/device_verification_response.yaml
  specs/dedicated/2.3.0/en/model/response/introspection_response.yaml
  specs/dedicated/2.3.0/en/model/response/token_issue_response.yaml
  specs/dedicated/2.3.0/en/model/response/token_response.yaml
  specs/dedicated/2.3.0/en/model/response/userinfo_issue_response.yaml
  specs/dedicated/2.3.0/en/model/response/userinfo_response.yaml
  specs/dedicated/2.3.0/en/model/service.yaml
  specs/dedicated/2.3.0/en/model/token_info.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Including client lock and info endpoint
  app/handlers/authenticate-user.js
  app/specs/dedicated/2.3.0/en.yaml
  specs/dedicated/2.3.0/en/api/client_flag_update_api.yaml
  specs/dedicated/2.3.0/en/api/info_api.yaml
  specs/dedicated/2.3.0/en/authlete-api.yaml
  specs/dedicated/2.3.0/en/model/request/client_flag_update_request.yaml
  specs/dedicated/2.3.0/en/model/response/client_flag_update_response.yaml
  specs/dedicated/2.3.0/en/model/response/info_response.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

fix pushed auth method name
  specs/dedicated/2.3.0/en/api/pushed_auth_req_api.yaml
  specs/dedicated/2.3.0/en/authlete-api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

change int32 to int64 for trustChainExpiresAt and trustChainUpdatedAt
  app/specs/dedicated/2.3.0/en.yaml
  specs/dedicated/2.3.0/en/model/client.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

fix dcr get client
  specs/dedicated/2.3.0/en/api/client_registration_get_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

fix clientId type
  specs/dedicated/2.3.0/en/model/response/userinfo_response.yaml
  specs/shared/2.2.19/en/model/response/userinfo_response.yaml
  specs/shared/2.2.25/en/model/response/userinfo_response.yaml
  specs/shared/2.2.30/en/model/response/userinfo_response.yaml
  specs/shared/2.2.38/en/model/response/userinfo_response.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

fix yaml
  .gitlab-ci.yml
Due: none

fix the description about OK action of IntrospectionResponse
  specs/dedicated/2.3.0/en/api/auth_introspection_api.yaml
  specs/dedicated/3.0.0/en/api/auth_introspection_api.yaml
  specs/shared/2.2.19/en/api/auth_introspection_api.yaml
  specs/shared/2.2.25/en/api/auth_introspection_api.yaml
  specs/shared/2.2.38/en/api/auth_introspection_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Fix/ci
  .gitlab-ci.yml
  .gitlab-ci/build-go-client-v3.yml
  .gitlab-ci/build-shared.yml
  .gitlab-ci/build-typescript-client.yml
Due: none

reflect changes of description about /auth/introspection API by MR 56
  app/specs/dedicated/2.3.0/en.yaml
  app/specs/shared/2.2.19/en.yaml
  app/specs/shared/2.2.25/en.yaml
  app/specs/shared/2.2.30/en.yaml
  specs/dedicated/3.0.0/en/api/auth_token_get_list_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Fix description about /auth/introspection API for shared/v2.2.30
  app/specs/shared/2.2.30/en.yaml
  specs/shared/2.2.30/en/api/auth_introspection_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

add verifiedClaimsValidationSchemaSet
  specs/dedicated/2.3.0/en/model/service.yaml
  specs/dedicated/2.3.0/en/model/verified_claims_validation_schema.yaml
  specs/dedicated/3.0.0/en/model/service.yaml
  specs/dedicated/3.0.0/en/model/verified_claims_validation_schema.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

remove 2 spaces in "example" key to fit in the right section
  specs/dedicated/2.3.0/en/api/device_authorization_api.yaml
  specs/dedicated/2.3.0/en/api/service_update_api.yaml
  specs/dedicated/3.0.0/en/api/device_authorization_api.yaml
  specs/dedicated/3.0.0/en/api/service_update_api.yaml
  specs/shared/2.2.19/en/api/device_authorization_api.yaml
  specs/shared/2.2.25/en/api/device_authorization_api.yaml
  specs/shared/2.2.30/en/api/device_authorization_api.yaml
  specs/shared/2.2.38/en/api/device_authorization_api.yaml
  specs/shared/2.2.38/en/api/service_update_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Fix endpoint to fit the correct path written in jax-rs
  specs/dedicated/2.3.0/en/api/client_authorization_get_list_api.yaml
  specs/dedicated/2.3.0/en/api/client_granted_scopes_get_api.yaml
  specs/dedicated/2.3.0/en/authlete-api.yaml
  specs/dedicated/3.0.0/en/api/client_authorization_get_list_api.yaml
  specs/dedicated/3.0.0/en/api/client_granted_scopes_get_api.yaml
  specs/dedicated/3.0.0/en/authlete-api.yaml
  specs/shared/2.2.19/en/api/client_authorization_get_list_api.yaml
  specs/shared/2.2.19/en/api/client_granted_scopes_get_api.yaml
  specs/shared/2.2.19/en/authlete-api.yaml
  specs/shared/2.2.25/en/api/client_authorization_get_list_api.yaml
  specs/shared/2.2.25/en/api/client_granted_scopes_get_api.yaml
  specs/shared/2.2.25/en/authlete-api.yaml
  specs/shared/2.2.30/en/api/client_authorization_get_list_api.yaml
  specs/shared/2.2.30/en/api/client_granted_scopes_get_api.yaml
  specs/shared/2.2.30/en/authlete-api.yaml
  specs/shared/2.2.38/en/api/client_authorization_get_list_api.yaml
  specs/shared/2.2.38/en/api/client_granted_scopes_get_api.yaml
  specs/shared/2.2.38/en/authlete-api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Fix OpenApi error
  specs/dedicated/3.0.0/en/api/hsk_delete_api.yaml
  specs/dedicated/3.0.0/en/api/hsk_get_api.yaml
  specs/dedicated/3.0.0/en/api/idtoken_reissue.yaml
  specs/dedicated/3.0.0/en/api/misc_echo.yaml
  specs/dedicated/3.0.0/en/model/credential_issuance_order.yaml
  specs/dedicated/3.0.0/en/model/credential_issuer_metadata.yaml
  specs/dedicated/3.0.0/en/model/credential_offer_info.yaml
  specs/dedicated/3.0.0/en/model/request/vci_offer_create_request.yaml
  specs/dedicated/3.0.0/en/model/response/client_authorization_delete_response.yaml
  specs/dedicated/3.0.0/en/model/response/introspection_response.yaml
  specs/dedicated/3.0.0/en/model/response/token_response.yaml
  specs/dedicated/3.0.0/en/model/service.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

change version to 2.3.12 for go client codegen / change tag for 'idtoken reissue' endpoint
  go-client-codegen.yml
  specs/dedicated/2.3.12/en/api/hsk_delete_api.yaml
  specs/dedicated/2.3.12/en/api/hsk_get_api.yaml
  specs/dedicated/2.3.12/en/api/idtoken_reissue.yaml
  specs/dedicated/2.3.12/en/api/misc_echo.yaml
  specs/dedicated/2.3.12/en/authlete-api.yaml
  specs/dedicated/2.3.12/en/model/response/client_granted_scopes_get_response.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

update app/specs/dedicated/2.3.12/en.yaml
  app/specs/dedicated/2.3.12/en.yaml
  specs/dedicated/2.3.12/en/authlete-api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

remove endpoints that are referenced twice in other versions
  specs/dedicated/2.3.0/en/authlete-api.yaml
  specs/shared/2.2.19/en/authlete-api.yaml
  specs/shared/2.2.25/en/authlete-api.yaml
  specs/shared/2.2.30/en/authlete-api.yaml
  specs/shared/2.2.38/en/authlete-api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Set validateSpec to true
  go-client-codegen-v3.yml
  go-client-codegen.yml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review

Remove unused properties from 3.0.0
  app/specs/dedicated/3.0.0/en.yaml
  specs/dedicated/3.0.0/en/model/client.yaml
  specs/dedicated/3.0.0/en/model/service.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

add idtoken reissue description / add 'patch' parameter in service configuration
  app/specs/dedicated/2.3.12/en.yaml
  app/specs/dedicated/3.0.0/en.yaml
  specs/dedicated/2.3.12/en/api/idtoken_reissue.yaml
  specs/dedicated/2.3.12/en/api/service_configuration_api.yaml
  specs/dedicated/3.0.0/en/api/idtoken_reissue.yaml
  specs/dedicated/3.0.0/en/api/service_configuration_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client

Make 'subject' query parameter optional for '/auth/token/get/list' API
  app/specs/dedicated/2.3.0/en.yaml
  app/specs/dedicated/2.3.12/en.yaml
  app/specs/dedicated/3.0.0/en.yaml
  app/specs/shared/2.2.19/en.yaml
  app/specs/shared/2.2.25/en.yaml
  app/specs/shared/2.2.30/en.yaml
  specs/dedicated/2.3.0/en/api/auth_token_get_list_api.yaml
  specs/dedicated/2.3.12/en/api/auth_token_get_list_api.yaml
  specs/dedicated/3.0.0/en/api/auth_token_get_list_api.yaml
  specs/shared/2.2.19/en/api/auth_token_get_list_api.yaml
  specs/shared/2.2.25/en/api/auth_token_get_list_api.yaml
  specs/shared/2.2.30/en/api/auth_token_get_list_api.yaml
  specs/shared/2.2.38/en/api/auth_token_get_list_api.yaml
Due: gen-go-client-master, gen-go-client-review, delete-go-client-review, build typescript client
