Repository shariq-sdks/docs1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build go client, build go client v3, build typescript client

build go client:
  stage: build clients
  trigger:
    include: .gitlab-ci/build-go-client.yml
    strategy: depend

build go client v3:
  needs:
  - build go client
  stage: build clients
  trigger:
    include: .gitlab-ci/build-go-client-v3.yml
    strategy: depend

build typescript client:
  stage: build clients
  trigger:
    include: .gitlab-ci/build-typescript-client.yml
    strategy: depend

revert go-client generation config back to /en/shared/3.0.0
  go-client-codegen-v3.yml
Due: build go client v3

Fixed API version in authlete-api-for-client-lib.yaml
  specs/shared/3.0.15/en/authlete-api-for-client-lib.yaml
Due: build go client, build go client v3, build typescript client

fix openapi validation errors
  app/specs/shared/3.0.15/en.yaml
  specs/shared/3.0.15/en/api/auth_authorization_ticket_info_api.yaml
  specs/shared/3.0.15/en/api/auth_authorization_ticket_update_api.yaml
  specs/shared/3.0.15/en/api/client_extension_requestable_scopes_get_api.yaml
  specs/shared/3.0.15/en/api/client_extension_requestable_scopes_update_api.yaml
  specs/shared/3.0.15/en/api/federation_registration_api.yaml
  specs/shared/3.0.15/en/api/hsk_delete_api.yaml
  specs/shared/3.0.15/en/api/hsk_get_list_api.yaml
  specs/shared/3.0.15/en/api/idtoken_reissue.yaml
  specs/shared/3.0.15/en/model/response/userinfo_issue_response.yaml
Due: build go client, build go client v3, build typescript client

update the go-client generation config to v3.0.15
  go-client-codegen-v3.yml
Due: build go client v3

revert go-client generation config back to v3.0.0
  go-client-codegen-v3.yml
Due: build go client v3

update README to correct swagger cli usage
  README.md
Due: none

updated userinfo issue response action from OK to JWT
  app/specs/dedicated/2.3.0/en.yaml
  app/specs/dedicated/2.3.12/en.yaml
  app/specs/dedicated/3.0.0/en.yaml
  app/specs/shared/2.2.19/en.yaml
  app/specs/shared/2.2.25/en.yaml
  app/specs/shared/2.2.30/en.yaml
  app/specs/shared/2.2.38/en.yaml
  app/specs/shared/2.3.0/en.yaml
  app/specs/shared/3.0.0/en.yaml
  app/specs/shared/3.0.15/en.yaml
  specs/dedicated/2.3.0/en/model/response/userinfo_issue_response.yaml
  specs/dedicated/2.3.12/en/model/response/userinfo_issue_response.yaml
  specs/dedicated/3.0.0/en/model/response/userinfo_issue_response.yaml
  specs/shared/2.2.19/en/model/response/userinfo_issue_response.yaml
  specs/shared/2.2.25/en/model/response/userinfo_issue_response.yaml
  specs/shared/2.2.30/en/model/response/userinfo_issue_response.yaml
  specs/shared/2.2.38/en/model/response/userinfo_issue_response.yaml
  specs/shared/2.3.0/en/model/response/userinfo_issue_response.yaml
  specs/shared/3.0.0/en/model/response/userinfo_issue_response.yaml
  specs/shared/3.0.15/en/model/response/userinfo_issue_response.yaml
Due: build go client, build go client v3, build typescript client

Initial commit
  LICENSE
  README.md
  ai-tools/claude-code.mdx
  ai-tools/cursor.mdx
  ai-tools/windsurf.mdx
  api-reference/endpoint/create.mdx
  api-reference/endpoint/delete.mdx
  api-reference/endpoint/get.mdx
  api-reference/endpoint/webhook.mdx
  api-reference/introduction.mdx
  api-reference/openapi.json
  development.mdx
  docs.json
  essentials/code.mdx
  essentials/images.mdx
  essentials/markdown.mdx
  essentials/navigation.mdx
  essentials/reusable-snippets.mdx
  essentials/settings.mdx
  favicon.svg
  images/checks-passed.png
  images/hero-dark.png
  images/hero-light.png
  index.mdx
  logo/dark.svg
  logo/light.svg
  quickstart.mdx
  snippets/snippet-intro.mdx
Due: none

Documentation edits made through Mintlify web editor
  api-reference/openapi.json
  api-reference/openapi.yaml
Due: none

Documentation edits made through Mintlify web editor
  docs.json
Due: none

Documentation edits made through Mintlify web editor
  api-reference/openapi.yaml
Due: none

Add remaining documentation files and analysis reports
  API_SPEC_VALIDATION_AND_CONTRACT_TESTING.md
  AUTHLETE_API_SPEC_3.0.15_AUDIT_AND_ANALYSIS.md
  PROJECT_STRUCTURE_AND_BUNDLING_TREE.md
  app/specs/shared/3.0.15/en-fixed.yaml
  app/specs/shared/3.0.16/en_test.yaml
Due: none

Documentation edits made through Mintlify web editor
  index.mdx
Due: none

Improve navigation structure - separate Getting Started from Core Concepts
  docs.json
Due: none

Add API References & SDKs group to Developer Platform
  docs.json
Due: none

Expand Flows & Protocol Guides with comprehensive flow documentation
  docs.json
Due: none

Restructure API Docs with separate SDK pages
  docs.json
  sdk/go.mdx
  sdk/java.mdx
  sdk/python.mdx
  sdk/typescript.mdx
Due: none

Simplify API Reference to focus on OpenAPI rendering
  api-reference.mdx
Due: none

Fix sidebar titles for Service & Client Management and Core Concepts
  concepts/authlete-architecture.mdx
  concepts/oauth2-basics.mdx
  concepts/security-fundamentals.mdx
  implementation/authentication.mdx
  implementation/client-management.mdx
  implementation/service-management.mdx
  implementation/token-management.mdx
Due: none

Documentation edits made through Mintlify web editor
  api-reference.mdx
Due: none

Add dedicated API Specification tab and cross-link references
  api-reference.mdx
  api-specification.mdx
  docs.json
  overview.mdx
  tools/api-explorer.mdx
Due: none

Rename API Specification tab to API References and fix OpenAPI rendering
  api-reference.mdx
  api-specification.mdx
  docs.json
  tools/api-explorer.mdx
Due: none

Fix broken frontmatter causing sidebar to show descriptions
  fix_broken_frontmatter.py
  flows/ciba.mdx
  flows/device-flow.mdx
  flows/native-sso.mdx
  quick_fix_frontmatter.py
  reference/pushed-authorization-requests.mdx
Due: none

Fix API References tab and all frontmatter issues comprehensively
  concepts/oid4vci.mdx
  concepts/stepup_authn.mdx
  docs.json
  federation/step-up-authentication.mdx
  federation/verifiable-credentials.mdx
  fix_all_frontmatter.py
  fix_everything.py
  fix_remaining_frontmatter.py
Due: none

Path conditions:
  build go client: any of: specs/**/*, go-client-codegen.yml
  build go client v3: any of: specs/**/*, go-client-codegen-v3.yml
  build typescript client: any of: specs/**/*, typescript-client-codegen.yml
